.icon-left{
    position: absolute;
    top:20px;
    left:20px;
}
.icon-right{
    position:absolute;
    bottom:20px;
    right:20px;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh
    
}
.winter{
    background-color: aliceblue;
}
.summer{
    background-color: rgb(255, 245, 226);
}